In [1]:
pwd

'C:\\Users\\faiza'

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
%matplotlib inline

In [5]:
claim = pd.read_csv("C:\\Users\\faiza\\Downloads\\insurance2.csv")
claim.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [6]:
claim.describe()

,age,sex,bmi,children,smoker,region,charges,insuranceclaim
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.505232,30.663397,1.094918,0.204783,1.515695,13270.422265,0.585202
std,14.049960,0.500160,6.098187,1.205493,0.403694,1.104885,12110.011237,0.492871
min,18.000000,0.000000,15.960000,0.000000,0.000000,0.000000,1121.873900,0.000000
25%,27.000000,0.000000,26.296250,0.000000,0.000000,1.000000,4740.287150,0.000000
50%,39.000000,1.000000,30.400000,1.000000,0.000000,2.000000,9382.033000,1.000000
75%,51.000000,1.000000,34.693750,2.000000,0.000000,2.000000,16639.912515,1.000000
max,64.000000,1.000000,53.130000,5.000000,1.000000,3.000000,63770.428010,1.000000

In [8]:
claim.shape

(1338, 8)

In [10]:
claim.isnull().sum()

age               0
sex               0
bmi               0
children          0
smoker            0
region            0
charges           0
insuranceclaim    0
dtype: int64

In [11]:
import statsmodels.formula.api as smf
logit_model = smf.logit('insuranceclaim ~ age+sex+bmi+children+smoker+region+charges', data = claim).fit()

Optimization terminated successfully.
         Current function value: 0.372625
         Iterations 8

In [12]:
type(logit_model)
logit_model.params

Intercept   -7.387082
age          0.026775
sex         -0.015740
bmi          0.258623
children    -1.424342
smoker       4.048033
region      -0.093724
charges      0.000006
dtype: float64

In [13]:
# summary
logit_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:         insuranceclaim   No. Observations:                 1338
Model:                          Logit   Df Residuals:                     1330
Method:                           MLE   Df Model:                            7
Date:                Tue, 20 Aug 2019   Pseudo R-squ.:                  0.4509
Time:                        14:31:40   Log-Likelihood:                -498.57
converged:                       True   LL-Null:                       -907.91
                                        LLR p-value:                1.732e-172
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -7.3871      0.579    -12.755      0.000      -8.522      -6.252
age            0.0268      0.007      3.690      0.000       0.013       0.041
sex           -0.0157      0.158     -0.099      0.921      -0.326       0.295
bmi            0.2586      0.018     14.204      0.000       0.223       0.294
children      -1.4243      0.094    -15.106      0.000      -1.609      -1.240
smoker         4.0480      0.420      9.644      0.000       3.225       4.871
region        -0.0937      0.072     -1.300      0.194      -0.235       0.048
charges       5.8e-06   1.55e-05      0.374      0.709   -2.46e-05    3.62e-05
==============================================================================
"""

In [14]:
y_pred1 = logit_model.predict(claim)
y_pred1

0       0.985255
1       0.552567
2       0.072210
3       0.351279
4       0.700926
5       0.483565
6       0.716857
7       0.028012
8       0.181094
9       0.726367
10      0.515853
11      0.993904
12      0.862838
13      0.986448
14      0.999753
15      0.097367
16      0.646551
17      0.352918
18      0.986605
19      0.998514
20      0.973606
21      0.528496
22      0.847784
23      0.990252
24      0.111981
25      0.046637
26      0.587555
27      0.423275
28      0.022036
29      0.981256
          ...
1308    0.993671
1309    0.255905
1310    0.278800
1311    0.582543
1312    0.948984
1313    0.961770
1314    0.337160
1315    0.277237
1316    0.139212
1317    0.998693
1318    0.144296
1319    0.080333
1320    0.053456
1321    0.995378
1322    0.985041
1323    0.995699
1324    0.204421
1325    0.951644
1326    0.907148
1327    0.542832
1328    0.038240
1329    0.711433
1330    0.102768
1331    0.838648
1332    0.746050
1333    0.086291
1334    0.796233
1335    0.920352
1336    0.396072
1337    0.997234
Length: 1338, dtype: float64

In [15]:
claim["pred_prob"] = y_pred1
claim.head()

,age,sex,bmi,children,smoker,region,charges,insuranceclaim,pred_prob
0,19,0,27.900,0,1,3,16884.92400,1,0.985255
1,18,1,33.770,1,0,2,1725.55230,1,0.552567
2,28,1,33.000,3,0,2,4449.46200,0,0.072210
3,33,1,22.705,0,0,1,21984.47061,0,0.351279
4,32,1,28.880,0,0,1,3866.85520,1,0.700926

In [18]:
claim["PValue"] = 0
claim.head()

,age,sex,bmi,children,smoker,region,charges,insuranceclaim,pred_prob,PValue
0,19,0,27.900,0,1,3,16884.92400,1,0.985255,0
1,18,1,33.770,1,0,2,1725.55230,1,0.552567,0
2,28,1,33.000,3,0,2,4449.46200,0,0.072210,0
3,33,1,22.705,0,0,1,21984.47061,0,0.351279,0
4,32,1,28.880,0,0,1,3866.85520,1,0.700926,0

In [20]:
claim.loc[claim.pred_prob >= 0.5,'PValue'] = True
claim.head()

,age,sex,bmi,children,smoker,region,charges,insuranceclaim,pred_prob,PValue
0,19,0,27.900,0,1,3,16884.92400,1,0.985255,True
1,18,1,33.770,1,0,2,1725.55230,1,0.552567,True
2,28,1,33.000,3,0,2,4449.46200,0,0.072210,0
3,33,1,22.705,0,0,1,21984.47061,0,0.351279,0
4,32,1,28.880,0,0,1,3866.85520,1,0.700926,True

In [21]:
# confusion matrix 
confusion_matrix = pd.crosstab(claim['insuranceclaim'],claim.PValue)
confusion_matrix

PValue            0  True
insuranceclaim
0               474    81
1                71   712

In [22]:
# accuracy
acc = (474+712)/(474+712+71+81)
acc

0.8863976083707026

In [23]:
np.mean(claim.insuranceclaim == claim.PValue)

0.8863976083707026